@{
    ViewData["Title"] = "AboutMe";
}
<h1>@ViewData["Title"]</h1>

<p>My name is Vicky, and I want to be an Front-end engineer</p>

<img src="/img/profile.jpg" alt="I am a new Front-end engineer" width="300" height="400">

